
#这样GitHub统计语言时就会忽略
Client/Library/** linguist-generated
*.meta linguist-generated
*.mat linguist-generated
*.unity linguist-generated
*.prefab linguist-generated
*.asset linguist-generated
*.controller linguist-generated
*.anim linguist-generated
*.shader linguist-generated
*.cginc linguist-generated
*.hlsl linguist-generated
*.physicMaterial linguist-generated


#确保代码被正确识别
Server/**/*.go linguist-language=Go
Client/Assets/Scripts/**/*.cs linguist-language=C#