version: '3.8'

services:
  #服务1:MUD
  mud-server:
    build: .             #这里告诉它：去当前目录找 Dockerfile 构建镜像
    container_name: mud_server_app
    ports:
      - "8888:8888"      #游戏的端口
    depends_on:
      - mysql            #告诉 Docker：先启动数据库，再启动我
    environment:
      - TZ=Asia/Shanghai #设置时区
    environment:
      - DB_ADDR=mysql:3306
    depends_on:
      - mysql

  #服务2:数据库
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    ports:
      - "3307:3306"      #外部依然可以用 3307 连接它方便你查看数据
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: "mud_game"
    command: --default-authentication-plugin=mysql_native_password